@using UKHO.Workbench.Layout
<div style="display: grid; grid-row: @Row / @ResolvedRowSpan; grid-column: @Column / @ResolvedColumnSpan; justify-items: @HorizontalAlignment.Css; align-items: @VerticalAlignment.Css; min-width: 0; min-height: 0; overflow: hidden; z-index: @Parent.NextZIndex();">
    @ChildContent
</div>
