node_modules/
.browser_modules/
.theia/
*.log

# Generated Theia application artifacts
browser-app/node_modules/
browser-app/lib/
browser-app/src-gen/
browser-app/gen-webpack.config.js
browser-app/gen-webpack.node.config.js
browser-app/webpack.config.js

# Generated extension build artifacts
search-studio/node_modules/
search-studio/.tmp-packages/
search-studio/lib/
